html{
    background-color: aqua;
}
#H{
    font-size: xx-large;
    font-style: oblique;
}
h1{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#intro{
    border: 5px silver ridge;
    border-radius: 10%;
    padding: 10px 100px 20px 100pxS;
    background-color: green;
    width: fit-content;
    color: rgb(243, 220, 92);
}
h2{
    color: rgb(218, 107, 144);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
li{
    color: #e97eec;
}

.list-item{
    display: inline-block;
    font-weight: 200;
}
.list-right{
    float: right;
}
.list-item{
    text-align: center;
    place-content: center;
}
ol{
    border: 3px darkorange;
    width: 200px;
    height: 200px;
    overflow: auto;
}
#favorite{
    font-variant-east-asian: jis78;
    bottom: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#padding {
    color: black;
    position: relative;
    margin-top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#mine{
    width: fit-content;
    color: lawngreen;
}
#vi{
    align-content: center;
}
a:hover{
    color: greenyellow;
    text-decoration: none;
    text-underline-position:auto;
}