html{
    background-color: aqua;
}
h1{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#intro{
    border: 5px silver ridge;
    border-radius: 10%;
    padding: 10px 100px 20px 100pxS;
    background-color: green;
    width: fit-content;
    color: rgb(243, 220, 92);
}
h2{
    color: palevioletred;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
li{
    color: #ee62f3;
}

.list-item{
    display: inline-block;
}
.list-right{
    float: right;
}
ol{
    border: 3px darkorange;
    width: 200px;
    height: 200px;
    overflow: auto;
}
#favorite{
    font-variant-east-asian: jis78;
    bottom: 100px;
}
#padding {
    color: black;
    position: relative;
    margin-top: 0;
    height: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
}